<form
  [formGroup]="egfrForm"
  novalidate
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
>
  <h1>
    eGFR Calculator
  </h1>

  <p *ngIf="user?.age">Age: {{ user.age }} years</p>
  <p *ngIf="user?.gender">Gender: {{ user?.gender }}</p>
  <p *ngIf="user?.race">Race: {{ user?.race }}</p>

  <mat-form-field class="full-width" *ngIf="!user.gender">
    <mat-select
      [(value)]="user.gender"
      placeholder="Gender"
      formControlName="gender"
    >
      <mat-option *ngFor="let gender of profile.genders" [value]="gender">
        {{ gender }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="egfrForm.controls['gender'].hasError('required')">
      Your gender is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="!user.race">
    <mat-select placeholder="Race" formControlName="race">
      <mat-option *ngFor="let race of profile.races" [value]="race">
        {{ race }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="egfrForm.controls['race'].hasError('required')">
      Your race is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="!user.birthday">
    <mat-label>Birthday</mat-label>
    <input
      matInput
      type="date"
      formControlName="birthday"
      min="1900-01-01"
      max="2020-01-01"
    />
    <mat-error *ngIf="egfrForm.controls['birthday'].hasError('required')">
      Your birthday is <strong>required</strong>
    </mat-error>
    <mat-error
      *ngIf="egfrForm.controls['birthday'].hasError('invalidBirthday')"
    >
      Your birthday is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Serum Creatinine</mat-label>
    <input
      matInput
      type="number"
      placeholder="30"
      formControlName="scr"
      max="100"
      min="1"
    />
    <span matSuffix>mg/dL</span>
    <mat-error *ngIf="egfrForm.controls['scr'].hasError('required')">
      Your Serum Creatinine is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="egfrForm.controls['scr'].invalid"
      >Serum Creatinine range: 1 ~ 100</mat-error
    >
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">See Result</button>
  <p class="full-width">Based on MDRD study equation</p>
</form>
