<mat-tab-group dynamicHeight>
  <mat-tab label="eGFR">
    <ng-template matTabContent>
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        [legend]="legend | async"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel | async"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          Tap to see the timestamp!
        </ng-template>
      </ngx-charts-line-chart>
    </ng-template>
  </mat-tab>

  <mat-tab label="Weight">
    <ng-template matTabContent>
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        [legend]="legend | async"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel | async"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          Tap to see detailed
        </ng-template>
      </ngx-charts-line-chart>
    </ng-template>
  </mat-tab>
</mat-tab-group>
