<form
  [formGroup]="profileForm"
  novalidate
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <h1>My Profile</h1>

  <mat-form-field class="full-width">
    <input matInput placeholder="First name" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      [value]="user?.lastName"
      placeholder="Last name"
      formControlName="lastName"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select
      [value]="user?.gender"
      placeholder="Gender"
      formControlName="gender"
    >
      <mat-option *ngFor="let gender of profile.genders" [value]="gender">
        {{ gender }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="profileForm.controls['gender'].hasError('required')">
      Your gender is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select [value]="user?.race" placeholder="Race" formControlName="race">
      <mat-option *ngFor="let race of profile.races" [value]="race">
        {{ race }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="profileForm.controls['race'].hasError('required')">
      Your race is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Birthday</mat-label>
    <input
      matInput
      type="date"
      formControlName="birthday"
      [value]="user?.birthday | date: 'yyyy-MM-dd'"
      min="1900-01-01"
      max="2020-01-01"
    />
    <mat-error *ngIf="profileForm.controls['birthday'].hasError('required')">
      Your birthday is <strong>required</strong>
    </mat-error>
    <mat-error
      *ngIf="profileForm.controls['birthday'].hasError('invalidBirthday')"
    >
      Your birthday is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!profileForm.valid"
  >
    Update
  </button>
</form>
