<h1 mat-dialog-title>Add Doctor</h1>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-form-field>
      <mat-label for="name">Doctor First Name</mat-label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        matInput
        [(ngModel)]="user.doctorName"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="email">Doctor Email</mat-label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        matInput
        name="email"
        [(ngModel)]="user.doctorEmail"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.form.valid"
    >
      Add Doctor
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
