<mat-sidenav-container class="sidenav-container" *ngIf="user">
  <mat-sidenav
    #drawerLeft
    class="sidenav"
    position="start"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="switchBoard('board')"
        ><mat-icon>apps</mat-icon><span>Dashboard</span></a
      >
      <a mat-list-item (click)="switchBoard('egfr')"
        ><mat-icon>add_box</mat-icon><span>EGFR</span></a
      >
      <a mat-list-item (click)="switchBoard('weight')"
        ><mat-icon>fitness_center</mat-icon><span>Weight</span></a
      >
      <a mat-list-item>
        <mat-icon>cloud_upload</mat-icon><span>Upload Results</span>
      </a>
      <a mat-list-item>
        <mat-icon>search</mat-icon><span>Search Record</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav
    #drawerRight
    class="sidenav"
    position="end"
    fixedInViewport
    role="dialog"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened="false"
  >
    <mat-nav-list
      class="profile"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <img class="avatar" matCardAvatar [src]="user.photoURL" />
      <p mat-list-item>{{ user.displayName }}</p>
      <p mat-list-item>{{ user.email }}</p>
      <mat-divider [inset]="true"></mat-divider>
      <p mat-list-item>{{ user?.firstName }} {{ user?.lastName }}</p>
      <p mat-list-item *ngIf="age">Age: {{ age }} years</p>
      <p mat-list-item *ngIf="user.gender">Gender: {{ user.gender }}</p>
      <p mat-list-item *ngIf="user.race">Race: {{ user.race }}</p>

      <mat-divider [inset]="true"></mat-divider>
      <p mat-list-item *ngIf="user.doctorName">Doctor: {{ user.doctorName }}</p>
      <p mat-list-item *ngIf="user.doctorEmail">
        {{ user.doctorEmail }}
      </p>
      <p mat-list-item *ngIf="user.doctorNotified">
        <strong>{{
          user.doctorVerified == true ? "Verified" : "Verifying"
        }}</strong>
      </p>
      <mat-divider [inset]="true"></mat-divider>
      <button mat-flat-button (click)="switchBoard('profile')" color="primary">
        Edit Profile
      </button>
      <button mat-flat-button (click)="switchBoard('doctor')" color="primary">
        Update Doctor
      </button>
      <button mat-button (click)="userService.logout()" color="warn">
        Logout
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawerLeft.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a (click)="switchBoard('board')">
        <span>Kenny the Kidney</span>
      </a>

      <button
        type="button"
        aria-label="Toggle user"
        mat-icon-button
        (click)="drawerRight.toggle()"
      >
        <img
          matCardAvatar
          [src]="user.photoURL"
          aria-label="User nav toggle icon"
        />
      </button>
    </mat-toolbar>

    <div [ngSwitch]="board" class="board" *ngIf="show">
      <ng-container *ngSwitchCase="'board'">
        <app-dashboard
          *ngIf="egfrs"
          [eGFRs]="egfrs"
          [weights]="weights"
        ></app-dashboard>
      </ng-container>
      <ng-container *ngSwitchCase="'egfr'">
        <app-egfr [user]="user" (backEvent)="switchBoard($event)"></app-egfr>
      </ng-container>
      <ng-container *ngSwitchCase="'profile'">
        <app-profile
          [user]="user"
          (backEvent)="switchBoard($event)"
        ></app-profile>
      </ng-container>
      <ng-container *ngSwitchCase="'weight'">
        <app-weight
          [uid]="user.uid"
          (backEvent)="switchBoard($event)"
        ></app-weight>
      </ng-container>
      <ng-container *ngSwitchCase="'doctor'">
        <app-doctor
          [user]="user"
          (backEvent)="switchBoard($event)"
        ></app-doctor>
      </ng-container>
      <ng-container *ngSwitchDefault>output2</ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
