<mat-sidenav-container class="sidenav-container" *ngIf="user">
  <mat-sidenav
    #drawerLeft
    class="sidenav"
    position="start"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="switchBoard('board')"
        ><mat-icon>apps</mat-icon><span>Dashboard</span></a
      >
      <a mat-list-item (click)="switchBoard('egfr')"
        ><mat-icon>add_box</mat-icon><span>EGFR</span></a
      >
      <a mat-list-item>
        <mat-icon>cloud_upload</mat-icon><span>Upload Results</span>
      </a>
      <a mat-list-item>
        <mat-icon>search</mat-icon><span>Search Record</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav
    #drawerRight
    class="sidenav"
    position="end"
    fixedInViewport
    role="dialog"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened="false"
  >
    <mat-toolbar>User</mat-toolbar>

    <mat-card fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-card-title-group>
        <mat-card-title>{{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-title-group>
      <img matCardAvatar [src]="user.photoURL" />
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <p>{{ user?.firstName }} {{ user?.lastName }}</p>
        <p *ngIf="age">Age: {{ age }} years</p>
        <p *ngIf="user.gender">Gender: {{ user.gender }}</p>
        <p *ngIf="user.race">Race: {{ user.race }}</p>
      </mat-card-content>
      <button mat-button (click)="switchBoard('profile')">Edit Profile</button>
      <button mat-button (click)="userService.logout()">Logout</button>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawerLeft.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a (click)="switchBoard('board')">
        <span>Kenny the Kidney</span>
      </a>

      <button
        type="button"
        aria-label="Toggle user"
        mat-icon-button
        (click)="drawerRight.toggle()"
      >
        <img
          matCardAvatar
          [src]="user.photoURL"
          aria-label="User nav toggle icon"
        />
      </button>
    </mat-toolbar>

    <div [ngSwitch]="board" class="board" *ngIf="show">
      <div *ngSwitchCase="'board'">
        <app-dashboard
          *ngIf="multi"
          [multi]="multi"
          (selectEvent)="switchBoard('board')"
        ></app-dashboard>
      </div>
      <div *ngSwitchCase="'egfr'">
        <app-egfr
          (egfrEvent)="getEgfr($event)"
          [user]="user"
          (userEvent)="getProfile($event)"
          (backEvent)="switchBoard($event)"
        ></app-egfr>
      </div>
      <div *ngSwitchCase="'profile'">
        <app-profile
          (profileEvent)="getProfile($event)"
          [user]="user"
        ></app-profile>
      </div>
      <div *ngSwitchDefault>output2</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
