<ng-container *ngIf="userService.user$ | async; else elseTemplate">
  <app-nav></app-nav>
</ng-container>
<ng-template #elseTemplate>
  <div class="safe-area" fxLayout="column" fxLayoutAlign="center center">
    <mat-card
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
    >
      <mat-card-title>Kenny the Kidney</mat-card-title>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <img
          matCardImage
          [src]="logo"
          class="logo"
          *ngIf="start"
          [@lightSpeedInOnEnter]
        />
        <button (click)="userService.loginGoogle()" mat-raised-button>
          Login With Google
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
