<ng-container *ngIf="userService.user$ | async; else elseTemplate">
  <app-nav></app-nav>
</ng-container>
<ng-template #elseTemplate>
  <div class="safe-area" fxLayout="column" fxLayoutAlign="center center">
    <mat-card
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
    >
      <mat-card-title>Kenny the Kidney</mat-card-title>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
        >
          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
          </p>

          <button type="submit" mat-button fxFlexAlign="end">Login</button>
        </form>

        <button
          (click)="userService.loginGoogle()"
          mat-button
          fxFlexAlign="end"
        >
          Login With Google
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
